@charset "utf-8";
/* CSS Document */
body {
	font-family: helvetica;
}

h1 {
	background-image: url("../../pattern.jpeg");
	font-size: 100px;
	font-weight: bold;
	color: khaki;
}

h2{
	font-size: 32px;
	font-weight: bold;
	color: white;
}

.brush {
	background-color: mediumspringgreen;
}

.frame {
	background-color: lightcoral;
}

.paint {
	background-color: skyblue;
}

strong {
	color: blue;
}